<%- include('common/head.ejs') %>

<body>
  <div class="jumbotron">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Channel Id</th>
          <th scope="col">Snowflake Id</th>
          <th scope="col">Author Id</th>
          <th scope="col">Message</th>
        </tr>
      </thead>
      <tbody>
        <% var messageList=JSON.parse(messages); %>
        <% for (var i=0; i < messageList.length ; i++) { %>
        <tr>
          <td><%= messageList[i].channel_id %></td>
          <td><%= messageList[i].snowflake_id %></td>
          <td><%= messageList[i].author_id %></td>
          <td><%= messageList[i].message %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>